.popup-overlay-delete-recipe {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  overflow-y: auto;
}

.delete-recipe-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20rem;
  
  border-radius: 2rem;
  background-color: rgb(var(--backgroundColor));
  padding: 1.5rem;
  box-shadow: 0 0 1rem 0.5rem rgba(var(--textColor), 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.warning-delete-recipe {
  color: rgb(var(--textColor));
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete-button {
  margin: 1rem 0 0 0;
  cursor: pointer;

  width: 100%;
  height: 4rem;
  border-radius: 1.5rem;
  background-color: #fb6067;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.delete-button:hover {
  transform: scale(0.95);
}

.delete-button:active {
  transform: scale(1.05);
}

.delete-button p {
  color: rgb(var(--textColor));
  font-size: 1.5rem;
  font-weight: bold;
}